extends layout
block contenthead
    link(rel='stylesheet', href='/stylesheets/Inicio.css')
block contentbody 
    .login-page
        .form
          form(action='/principal' method='POST' http-equiv="Content-Type" content="application/json").login-form 
            input(type='text' placeholder='Ruc' name='Ruc')
            input(type='password' placeholder='Contraseña' name='Contrasena')
            button login
            p.message
              | Not registered? 
              a(href='/registro') Create an account
