extends layout
block contenthead
    link(rel='stylesheet', href='/stylesheets/Principal.css')
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")
    link(rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css")
    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")
    script(src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js")
block contentbody
    header
        div
            h1 Empresa: #{user.Nombre} 
    br
    section(id="sectioncenter")
        div(id="divmap") 
        div(id="divtabla" )
            div
                table
                    thead
                        tr
                          th(scope="col") Conductor
                          th(scope="col") Vehiculo
                          th(scope="col") Seleccionar
                        tr
                    tbody(id="tbodycon")
                        each item in user.Vehiculo
                            tr
                              td= item.Nombre
                              td= item.Tipo
                              td    
                                button( onclick='llenardatos("'+ user.Ruc +'","'+ item.Nombre +'","'+ item.Lat +'","'+ item.Lon +'")' ) Seleccionar
            br
            br
            div 
                
                .form
                    button(style='display:none' onclick='routing()' id='Brut') Generar Ruta
                    form(name="S" id="S" action='/send' method='POST' http-equiv="Content-Type" content="application/json").login-form 
                      input(type='text' placeholder='Conductor' name='Conductor')
                      input(type="hidden"  name='Ruc')
                      input(type="hidden"  name='Lat')
                      input(type="hidden"  name='Lon')
                      input(type='text' placeholder='Destino Lat' name="DestinoLat" id="DestinoLat")
                      input(type='text' placeholder='Destino Lon' name='DestinoLon' id='DestinoLon')
                      input(type="hidden"  name='Mensaje')
                      br
                      button(style='display:none' name='Bsend') Enviar Direccion
                
    form(action='/' method='GET')
        button(id="buttonsend" ) Cerrar Sesion.
    br 
    script(src="/javascripts/mapa.js")
//div(id="divmap" onload='datas("'+ user.Correo +'")' )    