extends layout
block contenthead
    link(rel='stylesheet', href='/stylesheets/Registro.css')
block contentbody 
    .login-page
        .form
          form.register-form
            input(type='text' placeholder='name')
            input(type='password' placeholder='password')
            input(type='text' placeholder='email address')
            button create
            p.message
              | Already registered? 
              a(href='/') Sign In